    {% extends 'base.html' %}
    {% load static %}

    {% block title%} {% endblock %}

    {% block content %}
    <h1>Welcome to the Meeting Planner!</h1>
    <img src="{% static 'website/calendar.png' %}" width="100px" >
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{meeting.title}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}" >Rooms</a>
    <a href="{% url 'new' %}">Schedule New Meeting</a>
    {% endblock %}
